DATABASE_USER=test_user
DATABASE_PASSWORD=111
DATABASE_DBNAME=test_db
DATABASE_HOST=localhost
DATABASE_PORT=1111
SERVER_PORT=11

OPENROUTER_API_KEYS=
OPENROUTER_MODEL=openrouter/free
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1